/*font*/
@font-face {
  font-family: "NeoDunggeunmo";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.ttf")
      format("truetype");
  font-display: swap;
}

/*reset*/
body,
h1,
p,
textarea {
  padding: 0;
  margin: 0;
}

body {
  background-color: #7fffd454;
}

/*index.html*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
  justify-content: center;
  min-width: 100vh;
}

.main {
  position: relative;
  margin: auto;
}

.guide01 {
  background-color: #4482c3;
  color: white;
  width: 500px;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "NeoDunggeunmo";
  font-size: large;
}

.refridge-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chef-icon01 {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chef-icon01:hover {
  width: 210px;
  height: 210px;
}

/*search.html*/
#myTextarea {
  width: 460px;
  height: 6.25em;
  resize: none !important;
  border: 6px solid #3c3e4f;
  border-radius: 10px;
  padding: 20px !important;
  font-family: "NeoDunggeunmo" !important;
  font-size: medium !important;
}

.guide02 {
  background-color: #ffaf9f;
  color: white;
  width: 500px;
  height: 60px;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "NeoDunggeunmo";
  font-size: large;
}

.kitchen-icon01 {
  width: 480px;
  height: 130px;
}

.kitchen-icon02 {
  width: 480px;
  height: 280px;
}

.form-box {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  margin: 0 auto !important;
}

.pot-icon {
  width: 150px;
  height: 150px;
  margin: auto;
}

.pot-icon:hover {
  animation: vibration 0.1s infinite;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

/*loading.js*/
.loading-mask {
  position: absolute;
  z-index: 9000;
  background-color: #000000;
  display: none;
  left: 0;
  top: 0;
}

.loading-img {
  position: relative;
  display: block;
  margin: 50px auto 20px;
  width: 500px;
  height: 500px;
}

.loading-message {
  text-align: center;
  font-family: NeoDunggeunmo;
  font-size: large;
  border: 5px solid white;
  border-radius: 20px;
  color: white;
  background-color: #2eb7b7;
  padding: 20px;
  width: 600px;
  height: 80px;
  margin: auto;
}

/*result.html*/
.result-main {
  display: flex;
}

.chef-icon02 {
  width: 200px;
  height: 200px;
}

.cooking-list {
  width: 550px;
  min-height: 600px;
  background-color: #ecf0f1;
  font-family: "NeoDunggeunmo";
  font-size: medium;
  padding: 20px;
  border: 5px solid #3c3e4f;
  border-radius: 0 20px 20px 20px;
  box-shadow: 5px 5px 5px #3c3e4f99;
}

.answer-box {
  margin-left: 20px;
}

.guide03 {
  width: 550px;
  height: 70px;
  background-color: #4482c3;
  color: white;
  margin-top: 30px;
  font-family: "NeoDunggeunmo";
  font-size: medium;
  padding: 20px;
  border: 5px solid #3c3e4f;
  border-radius: 0 20px 20px 20px;
  text-align: center;
  box-shadow: 5px 5px 5px #3c3e4f99;
}

.line-highlight01 {
  display: inline;
  box-shadow: inset 0 -10px 0 #ffe2b5;
  /*-10px은 highlight의 두께*/
}

.carrot-icon {
  width: 100px;
  height: 100px;
}

.carrot-icon:hover {
  width: 105px;
  height: 105px;
}

.recipebook-icon {
  width: 100px;
  height: 100px;
}

.recipebook-icon:hover {
  width: 105px;
  height: 105px;
}

.button-box {
  margin-top: 40px;
  display: flex;
  margin-left: 80px;
}

/*result.html - modal*/
.modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 750px;
  max-height: 90vh;

  padding: 40px;

  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);

  overflow: auto;
}

.modal-body::-webkit-scrollbar {
  width: 17px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #efffc5;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
  box-shadow: inset 0px 0px 5px white;
}
.modal-body::-webkit-scrollbar-track {
  background-color: #7b7b7c;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.guide04 {
  font-family: "NeoDunggeunmo";
  font-size: large;
  border-radius: 10px;
  width: 300px;
  padding: 7px;
  text-align: center;
  background-color: #a5cdff;
  color: white;
}

.guide05 {
  text-align: center;
}

.spinner {
  margin-top: 13px;
  background-color: white;
  min-width: 40px;
  min-height: 40px;
  border: 8px solid #7b7b7c;
  border-right: 5px solid #efffc5;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.close-button {
  border: none;
  background-color: white;
  float: right;
}

.modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35px;
}

.search-button {
  background-color: white;
  border: none;
}

.input-box {
  margin: 20px 10px 20px 22px;
  display: flex;
}
.input-style {
  width: 240px;
  border: 3px solid #7b7b7c;
  border-radius: 5px;
  font-family: "NeoDunggeunmo";
  padding: 5px;
}

.img-box {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2px;
}

.recipe-box {
  border-radius: 10px;
  margin: 30px 20px 0 20px;
  padding: 10px;
  width: 500px;
  font-family: "NeoDunggeunmo";
  font-size: medium;
  line-height: 25px;
  background-color: #a5cdff;
  color: black;
}

.line-highlight02 {
  display: inline;
  box-shadow: inset 0 -15px 0 white;
  /*-15px은 highlight의 두께*/
  color: #2a3039;
}

.cancel-icon {
  width: 30px;
  height: 30px;
}

.hotpot-icon {
  width: 400px;
  height: 400px;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
}

/*footer*/
.footer {
  text-align: center;
}

/*header*/
.header {
  padding-top: 20px;
}

.logo-img {
  width: 250px;
  height: auto;
  margin: 0 auto;
}
