@font-face {
  font-family: "NeoDunggeunmo";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.ttf")
      format("truetype");
  font-display: swap;
}
/*초기화 작업*/
body,
h1,
p,
textarea {
  padding: 0;
  margin: 0;
}

body {
  background-color: #7fffd454;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
  min-width: 100vh;
}

.main {
  position: relative;
  margin: auto;
}

.guide01 {
  background-color: #4482c3;
  color: white;
  width: 500px;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "NeoDunggeunmo";
  font-size: large;
}

.refridge-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chef-icon {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*search.html*/
#myTextarea {
  width: 460px;
  height: 6.25em;
  resize: none !important;
  border: 6px solid #3c3e4f;
  border-radius: 10px;
  padding: 20px !important;
  font-family: "NeoDunggeunmo" !important;
  font-size: medium !important;
}

.guide02 {
  background-color: #ffaf9f;
  color: white;
  width: 500px;
  height: 60px;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "NeoDunggeunmo";
  font-size: large;
}

.kitchen-icon01 {
  width: 480px;
  height: 130px;
}

.kitchen-icon02 {
  width: 480px;
  height: 280px;
}

.form-box {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  margin: 0 auto !important;
}

.pot-icon {
  width: 150px;
  height: 150px;
  margin: auto;
}

.pot-icon:hover {
  animation: vibration 0.1s infinite;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

/*search.html -*/

/*result.html*/
.container2 {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  min-width: 100vh;
}

.chefIcon2 {
  width: 200px;
  height: 200px;
}

.cookingList {
  width: 550px;
  height: 600px;
  background-color: #ecf0f1;
  font-family: "NeoDunggeunmo";
  font-size: medium;
  padding: 20px;
  border: 5px solid #3c3e4f;
  border-radius: 0 20px 20px 20px;
}

.chefAnswer {
  margin-left: 20px;
}

.guide3 {
  width: 550px;
  height: 70px;
  background-color: #4482c3;
  color: white;
  margin-top: 20px;
  font-family: "NeoDunggeunmo";
  font-size: medium;
  padding: 20px;
  border: 5px solid #3c3e4f;
  border-radius: 0 20px 20px 20px;
  text-align: center;
}

.highlight {
  display: inline;
  box-shadow: inset 0 -10px 0 #ffe2b5;
  /*-10px은 highlight의 두께*/
}

.buttonImg2 {
  width: 100px;
  height: 100px;
}

.buttonImg2:hover {
  width: 105px;
  height: 105px;
}

.buttonImg3 {
  width: 100px;
  height: 100px;
}

.buttonImg3:hover {
  width: 105px;
  height: 105px;
}

.buttonBox {
  margin-top: 40px;
  display: flex;
  margin-left: 80px;
}

/*result.html - 모달*/
.modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 750px;
  /* height: 500px; */
  max-height: 90vh;

  padding: 40px;

  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);

  overflow: auto;
}

.modal_body::-webkit-scrollbar {
  width: 15px;
}

.modal_body::-webkit-scrollbar-thumb {
  background-color: #a5cdff;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
  box-shadow: inset 0px 0px 5px white;
}
.modal_body::-webkit-scrollbar-track {
  background-color: #7b7b7c;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.guide4 {
  font-family: "NeoDunggeunmo";
  font-size: large;
  border-radius: 10px;
  width: 300px;
  padding: 7px;
  text-align: center;
  background-color: #a5cdff;
  color: white;
}

.closeButton {
  border: none;
  background-color: white;
  float: right;
}

.inputBox {
  display: flex;
}

.modal_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35px;
}

.searchButton {
  background-color: white;
  border: none;
}

.inputBox {
  margin: 20px 10px 20px 22px;
  display: flex;
}
.inputStyle {
  width: 240px;
  border: 3px solid #7b7b7c;
  border-radius: 5px;
  font-family: "NeoDunggeunmo";
  padding: 5px;
}

.imgBox {
  width: 400px;
  height: 400px;
  /* border: 3px solid #7b7b7c; */
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2px;
}

.recipeBox {
  border-radius: 10px;
  margin: 30px 20px 0 20px;
  padding: 10px;
  width: 500px;
  font-family: "NeoDunggeunmo";
  font-size: medium;
  line-height: 25px;
  background-color: #a5cdff;
  color: black;
}

.highlight2 {
  display: inline;
  box-shadow: inset 0 -15px 0 white;
  /*-10px은 highlight의 두께*/
  color: #394049;
}
